body {
  font-family: 'Indie Flower';
  background-image: url("land.png");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  
  
}

a {
  color: black;
  float: right;
}

h1{
  text-align: center;
  margin: 0 auto;
  font-size: 4.1em;
}

li {
  text-align: center;
  list-style-type: none;
  margin-left: -30px;
  font-size: 2em;
}

body > div.container > div:nth-child(1) > nav > div.navbar-header > a {
  font-size: 2em;
  color: black;
}

body > div.container > div:nth-child(2) > div.well.ng-scope > a {
  font-size: 1.5em;
  color: black;
}

body > div.container > div:nth-child(2) > div.well.ng-scope {
  margin: 0 auto;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 100px;
}

body > div.container > div:nth-child(1) > nav > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li:nth-child(3) > a {
  color: black;
}

body > div.container > div:nth-child(2) > a {
  margin-top: -230px;
  margin-right: 230px;
  float: right;
}

.well {
  padding: 40px;
}

label{
  font-size: 1.5em;
  margin-left: 230px;
}

.form-control {
  width: 70%;
}

.form-group {
  margin-top: 20px;
  margin: 0 auto;
}

body > div.container > div:nth-child(2) > form {
  margin: 0 auto;
  margin-left: 300px;
  margin-top: 50px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

body > div.container > div:nth-child(1) > nav > div.navbar-header > img {
  margin-left: 300px;
  margin-top: 10px;
}

.btn-primary {
    color: black;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-top: -30px;
    
}

.btn-success {
    color: black;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-right: 275px;
}


textarea {
    resize: none;
    width: 100px;
}

body > div.container > div:nth-child(2) > div.form-group.ng-scope > a{
  margin-left: 550px;
  margin-top: 20px;
}

body > div.container > a {
  float: right;
}