<h1>Secret Recipes</h1>

<a href="/breeds/new" class="btn btn-success">New Dog</a>

<div class="form-group">
  <label for="search">Search</label>
  <input type="text" class="form-control" id="search" ng-model="search">
</div>

<div class="well" ng-repeat="breed in breeds | filter:{title:search} track by breed._id">
  <h1>{{breed.name}}</h1>
  <a ng-href="/breeds/{{breed._id}}">Permalink</a>
  <a ng-click="deleteBreed(breed._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a>
</div>
